.title {
    text-align: center;
    width: 30vw;
    background-color: rgb(190, 164, 214);
    padding: 2vw 1vw;
    border-radius: 10px 10px 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70vw;
    padding: 2vw 1vw;
    background-color: rgb(250, 194, 194);
    border-radius: 0 0 10px 10px;
}

.header {
    width: 70vw;
}

input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline: none;
    margin: 5px;
}

@media (min-width: 576px) {

    /* Small devices (landscape phones, 576px and up)*/
    .App {
        width: 70vw;
    }

    .header {
        width: 70vw;
    }
}

@media (min-width: 768px) {

    /* Medium devices (tablets, 768px and up)*/
    .App {
        width: 30vw;
    }

    .header {
        width: 30vw;
    }

}